name: Crawler Runner & del

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  run-crawler:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - run: |
          python -m pip install --upgrade pip
          python proxy/crawler.py

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add proxy/v2ray.txt
          commit_message="Auto update v2ray.txt on $(date +'%Y-%m-%d %H:%M:%S')"
          git commit -m "$commit_message" --allow-empty
          git push
