name: Crawler Runner & del

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  run-crawler:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - run: |
          python -m pip install --upgrade pip
          cd node-sp
          python crawler.py
          base64 -w 0 nodes.txt > ../v2ray.txt

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add v2ray.txt
          git commit -m "Auto update v2ray.txt" --allow-empty
          git push
